<link rel="stylesheet" href="styles/presentacionActividad.css">

<table id="tablaActividades" class="cabecera">
    <thead>
    <tr>
        <th scope="col">Tipo</th>
        <th scope="col">kilos</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Total</th>
        <th scope="col">Comentario</th>
    </tr>
    </thead>
    <%for (let actividad of actividades) {%>
    <tbody>
    <tr>
        <td scope="row"><%-actividad.tipo%></td>
        <td scope="rox"><%-actividad.kilosUpdate%></td>
        <td scope="row"><%-actividad.subtotal%></td>
        <td scope="row"><% if(actividad.tipo === 'Egreso'){
                actividad.total = actividad.kilosUpdate - actividad.subtotal
            %>
            <%-actividad.total%>
            <% } else{
                actividad.total = actividad.kilosUpdate + actividad.subtotal
            %>
            <%-actividad.total%>
            <% } %>
        </td>
        <td scope="row"><%-actividad.comentario%></td>
    </tr>
    </tbody>
    <%}%>
</table>

