<%for (let stock of stocks) {%>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" id="tituloTabla">Stock <%-stock.campo.nombre%></h3>
                </div>
                <table class="table table-hover" id="campoLogin">
                    <thead>
                    <tr>
                        <th>Cantidad de kilos</th>
                        <th>Tipo</th>
                        <th>Ubicacion GPS</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><%-stock.cantKilos%></td>
                        <td><%-stock.tipoStock%></td>
                        <td><%-stock.ubicacionGPS%></td>
                        <td>
                            <a href="/newActividad/<%-stock.id%>">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                            </a>
                        </td>
                        <td><a href="/actividad/<%-stock.id%>"> Ver actividades</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<%}%>
